  <style>
       BODY
       {
        background: #55CBFC;
       }
  </style>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'MyPolls/static/MyPolls/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <div class="features">
        <h1>
            <p align="center" style="font-size: 40px; margin-top: 100px">
        Пока<br>

        </h1>
             <p align="center" style="font-size: 40px; margin-top: 100px">
            <button class="btn btn-outline-info" style="height:100px;width:400px" onclick="document.location='../../'">Ok</button>
    </div>
